body{
    background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.m{
   
    margin: 0%;
    /* margin-left: 20%; */
    width: 100%;
    height: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    
}
.f{
    padding: 10px;
    padding-top: 10px;
    border: 1px solid red;
    width: 400px;
    margin-left: 30%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    position:relative;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 100px rgb(247, 247, 247);
    border-radius: 20px;
    /* background-color:dimgrey; */
    background: #4ECDC4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,  #7289a3, #8be0da);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7289a3, #8be0da); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1{
    font-size: medium;
    font-weight:normal;
}
.anch{
    color: rgb(244, 239, 239);
    
}
.in{
    padding: 2%;
    width: 60%;
    margin-top: 3%;
    margin-bottom: 3%;
    
}
.bt{
    height:40px;
    width: 200px;
    border-radius: 10px;
    /* box-shadow: 1px 1px 25px red; */

}
.icon{
    margin-right: 20px;
    transform: scale(2);
}
.bt:hover{
    transform: scale(1.5);
   
}
hr{
    margin: 30px;
    margin-top: 20px;
    margin-bottom: 10PX;
    width:400px ;
    height: 1px;
    background-color: rgb(2, 66, 66);
}
