.list-item{
    margin: 15px;
   width:500px;
   position:relative;
    justify-content: left;
    display: flex;
    flex-direction: row;
    flex: 10;
    padding: 10px;
    color: rgb(252, 248, 248);
    background: #d1effa; 
    background: -webkit-linear-gradient(to right, #ffffff, #d1effa);
   background: linear-gradient(to right, #ffffff, #d1effa);
    
    /* border: 1px solid rgb(77, 72, 72);  */
} 


p{
    padding-left:0px;
    flex: 1;
    margin-right: 10px;
}
svg{

    color: rgb(98, 122, 176);
    /* margin-left: 20px;
    margin-right: 5px; */

}
.actions{
     display: flex;
    flex-wrap: nowrap; 
    /* justify-content: left; */
    /* cursor: pointer;  */


   
}
.FileName{
    width:320px;
    font-size: small;
    position:absolute;
    display: inline-block;
    /* justify-content: left; */
    /* align-items: center; */
    text-align: left;
    border: 1px none;
    margin-left: 30px;
    /* word-wrap: break-word; */
    overflow-wrap: break-word;
    /* overflow-x:scroll; */
}
.FileName a{
    color: rgb(21, 20, 20);
}
.del{
    /* position: relative; */
    margin-left: 370px;
    /* margin-right: 40px; */
    position: absolute;
    white-space:nowwrap;
}
.down{
    margin-left: 450px;
   position: absolute;
    /* flex-direction: column; */
   

}
.del :hover{
    transform:scale(1.5);
    
}
.down:hover{
    transform: scale(1.5);
}